<!doctype html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <title>Project 3</title>
  <meta name="description" content="project 3 description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div id="cover">
  <h1>Exploring the Spectrum of Suicide Rates: Project Three</h1>
  <p>Embark on a journey through the nuanced dimensions of suicide rates. 
    Our comprehensive research spans geographical, age-related, 
    yearly, GDP per capita, and population-based analyses, unraveling intricate 
    patterns from 1985 to 2020. Explore the various factors that influence suicide 
    rates, such as the impact of suicide prevention and support organizations, 
    geographical variations, the interplay of age groups and generational factors, 
    and make insightful comparisons with other leading causes of death.
  </p>
  <div id="team">
    <a href="https://www.linkedin.com/in/ali-a-490494113/" class="profileLink">
      <img src="../static/img/user.png" alt="Ali Alam">
      <p>Ali Alam</p>
    </a>

    <a href="https://www.linkedin.com/in/dalya-lami/" class="profileLink">
      <img src="../static/img/user.png" alt="Dalya Lami">
      <p>Dalya Lami</p>
    </a>

    <a href="https://www.linkedin.com/in/jahnf/" class="profileLink">
      <img src="../static/img/user.png" alt="Jahn Ferdinandus">
      <p>Jahn Ferdinandus</p>
    </a>

    <a href="https://www.linkedin.com/in/dayana-imanova1/" class="profileLink">
      <img src="../static/img/user.png" alt="Dayana Imanova">
      <p>Dayana Imanova</p>
    </a>
    
  </div>

  <p id="separatedSentence">Join us as we seek a deeper understanding of the 
    complex tapestry of suicide trends.
  </p>

  <a href="#learnMore" class="button">LEARN MORE</a>
  <img src="../static/img/arrow.png" id="arrow" alt="down-arrow">

</div>

<div id="learnMore">
    <div id="groupOfCards">
      <div class="card">
        <h2>Unraveling Suicide Disparities: A Geographical Analysis and Patterns Across Age Groups</h2>
        <p></p>
        <a href="../static/html-graphs/graph1.html" class="button">See the graph</a>
        <img src="../static/img/chart1.png" alt="Description of the image">
      </div>

      <div class="card">
        <h2>Analyzing Gender Disparities: A Comparative Study of Suicides</h2>
        <p></p>
        <a href="../static/html-graphs/graph2.html" class="button">See the graph</a>
        <img src="../static/img/chart2.png" alt="Description of the image">
      </div>

      <div class="card">
        <h2>GDP per Capita and Suicide Rates: A Global Examination</h2>
        <p></p>
        <a href="../static/html-graphs/graph3.html" class="button">See the map</a>
        <img src="../static/img/chart3.png" alt="Description of the image">
      </div>

      <div class="card">
        <h2>Decoding Suicide Statistics: Health Facilities' Impact in Canada</h2>
        <p></p>
        <a href="../static/html-graphs/graph4.html" class="button">See the map</a>
        <img src="../static/img/chart4.png" alt="Description of the image">
      </div>
    </div>
</div>

<div id="footer">
  <p>Created for Project3</p>
</div>
</body>

</html>
